<ion-header>
  <ion-toolbar>
    <ion-title>My Kitchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="mybag">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>My Bag</ion-label>
      <ion-badge>6</ion-badge>

    </ion-tab-button>

    <ion-tab-button tab="grocery-list">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
