<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!newUser">
  <ion-card *ngFor="let family of myData">
    <ion-grid >
      <ion-row >
        <ion-col size="12">
          <ion-button expand="block" fill="clear" >
            <ion-label>
              <h2> {{family.familyName}} </h2>
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size-xs="4">
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/app-dashboard/daily-expense/{{family.familyId}}">
            <div>
              <ion-icon name="rocket-sharp"></ion-icon>
              <ion-label>
                <p> Daily Expense </p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size-xs="4">
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/app-dashboard/kitchen-dashboard/{{family.familyId}}">
            <div>
              <ion-icon name="fast-food"></ion-icon>
              <ion-label>
                <p> My Kitchen </p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>

        <ion-col size-xs="4">
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/app-dashboard/create-home">
            <div>
              <ion-icon name="add"></ion-icon>
              <ion-label>
                <p> New Home </p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>

        <ion-col size-xs="4">
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/app-dashboard/add-members/{{family.familyId}}">
            <div>
              <ion-icon name="add"></ion-icon>
              <ion-label>
                <p> Add a member </p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
</div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" fill="clear" >
            <ion-label>
              <h2> Personal</h2>
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="5">
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/coming-soon">
            <div>
              <ion-icon name="rocket-sharp"></ion-icon>
              <ion-label>
                <p> Personal expense</p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size-xs="4">
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/coming-soon">
            <div>
              <ion-icon name="logo-bitcoin"></ion-icon>
              <ion-label>
                <p> Investments </p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" fill="clear"  routeDirection="forward"
            routerLink="/coming-soon">
            <div>
              <ion-icon name="trending-up-sharp"></ion-icon>
              <ion-label>
                <p> Diary </p>
              </ion-label>
            </div>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>


  </ion-card>
</ion-content>
