<ion-header color="primary">
  <ion-toolbar>
    <ion-title text-left>My Home</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile-selection"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="summary">
      <ion-item>
        <ion-card class="card1">
          <ion-card-header>
            <ion-label> </ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" fill="clear" class="expense" routeDirection="forward">
            <div>
              <ion-icon class="home-icon" name="home"></ion-icon>
              <ion-text color="primary">
                <h2>{{homeName}}</h2>
              </ion-text>
            </div>
          </ion-button>
          </ion-card-content>

        </ion-card>
      </ion-item>
    </div>
  </ion-grid>

  <ion-grid>
    <ion-row justify-content-around>
      <ion-col>
        <ion-button expand="block" fill="clear" class="expense" routeDirection="forward"
        routerLink="/profile-selection/home/cash-flow">
          <div>
            <ion-icon name="rocket-sharp"></ion-icon>
            <ion-label>
              <p> Daily Expense </p>
            </ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear" class="expense">
          <div>
            <ion-icon name="fast-food"></ion-icon>
            <ion-label>
              <p> My Kitchen </p>
            </ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col>
        <ion-button expand="block" fill="clear">
          <div>
            <ion-icon name="time-sharp"></ion-icon>
            <ion-label>
              <p> Reminders </p>
            </ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear">
          <div>
            <ion-icon name="eye-sharp"></ion-icon>
            <ion-label>
              <p> Warrenty </p>
            </ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col>
        <ion-button expand="block" fill="clear">
          <div>
            <ion-icon name="trending-up-sharp"></ion-icon>
            <ion-label>
              <p> Diary </p>
            </ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear">
          <div>
            <ion-icon name="logo-bitcoin"></ion-icon>
            <ion-label>
              <p> Investments </p>
            </ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

