<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
    <div>
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="stacked">Name</ion-label>
                <ion-input placeholder="John Doe" type="text" #displayname required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="stacked">Email</ion-label>
                <ion-input placeholder="deepu@gmail.com" type="text" #email required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="stacked">Password</ion-label>
                <ion-input placeholder ="Enter password" type="password" #password required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="signUp(email, password ,displayname)" expand="block">Register</ion-button>
            </ion-col>
          </ion-row>
          <ion-label color ="danger"> {{message}}</ion-label>
        </ion-grid>
      </form>
    </div>
  </div>

</ion-content>
