<ion-header>
  <ion-toolbar>
    <ion-title>Choose Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col >
            <ion-card class="card1">
              <ion-card-content>
                <ion-button routerLink="/profile-selection/home" expand="block" fill="clear" class="expense" routeDirection="forward">
                <div>
                  <ion-icon class="home-icon" name="home"></ion-icon>
                  <ion-text color="primary">
                    <h2>My Home</h2>
                  </ion-text>
                </div>
              </ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
            <ion-card class="card1">
              <ion-card-header>
                <ion-label> </ion-label>
              </ion-card-header>
              <ion-card-content>
                <ion-button routerLink="/profile-selection/personal" expand="block" fill="clear" class="expense" routeDirection="forward">
                <div>
                  <ion-icon class="home-icon" name="bicycle"></ion-icon>
                  <ion-text color="primary">
                    <h2>Personal</h2>
                  </ion-text>
                </div>
              </ion-button>
              </ion-card-content>

            </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <ion-card class="card1">
              <ion-card-header>
                <ion-label> </ion-label>
              </ion-card-header>
              <ion-card-content>
                <ion-button routerLink="/profile-selection/others" expand="block" fill="clear" class="expense" routeDirection="forward">
                <div>
                  <ion-icon class="home-icon"  name="wallet-sharp"></ion-icon>
                  <ion-text color="primary">
                    <h2>All Others</h2>
                  </ion-text>
                </div>
              </ion-button>
              </ion-card-content>

            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
