<ion-header>
  <ion-toolbar>
    <ion-title>My cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{item.itemName}}</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-input placeholder="Quantity" [(ngModel)]="qtyInput"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-chip [color]="unit =='Kg' ? 'success' : 'light'" (click)="setUnit('Kg')">
            <ion-label>Kg</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="2">
          <ion-chip [color]="unit =='gm' ? 'success' : 'light'" (click)="setUnit('gm')">
            <ion-label >gm</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col  size="2">
          <ion-chip [color]="unit =='ltr' ? 'success' : 'light'" (click)="setUnit('ltr')">
            <ion-label >ltr</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col  size="2">
          <ion-chip [color]="unit =='ml' ? 'success' : 'light'" (click)="setUnit('ml')">
            <ion-label >ml</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
  <ion-item>
    <ion-label position="fixed">Select Brand</ion-label>
    <ion-list>
      <ion-item lines=none *ngFor="let brand of item.brands; let idx = index">
        <ion-button [color]="idx === brandIndex  ? 'success' : 'light'" (click)="selectBrand(brand,idx)" expand="block">
          {{brand}}
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Notes: </ion-label>
    <ion-textarea #note></ion-textarea>
  </ion-item>
  <ion-item *ngIf="existingorderQty">
    <ion-label color="danger">You have already added this item in bag</ion-label>
  </ion-item>

  <ion-button (click)="addtoBag(note)" expand="block">
    Add to bag
  </ion-button>

</ion-content>
