// Colors
$c-blue: #1126be;
$c-white: #fefefe;

// Transparent Colors
$t-blue: rgba(17, 38, 190, 0.8);

// Gradients
$g-blue: linear-gradient($t-blue, $t-blue);

// Shadows
$s-basic: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


// Imports
@import url('https://fonts.googleapis.com/css?family=Nunito:300');


// Resets
* {
  box-sizing: border-box;
  font-family: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 400px;
  box-shadow: $s-basic;
}

.section {
  padding: 1rem;
}

// Header Styles
.header {
  position: relative;
  text-align: center;

  &__text {
    position: relative;
    padding: 3.5rem 0 7rem ;

    > h1 {
      margin: 0;
      font-size: 2.5rem;
    }
  }

  > .trapezoid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-10deg);
    transform-origin: top left;
    box-shadow: $s-basic;
    background: $g-blue, url('/src/assets/images/background.jpg');
    background-position: top center;
    background-attachment: fixed;
  }
}

// Form, input and button styles
form {
  margin: 0 auto;
  max-width: 17rem;
  overflow: auto;


  > p {
    margin: 0.25rem 0 0;
    text-align: center;
    color: $c-blue;
  }
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}
