ion-item{
  padding-left: 2rem;
  padding-right: 2rem;
}

.income{
  color: green;
}
.expense{
  color: red;
}

.details{
  padding-left: 2rem;
  padding-right: 2rem;
}

.progres-bar{
  height: .6rem;
  background-color: green;
}



// .ed {
//   background-color: white;
//   height: 15rem;
//   overflow: scroll;
// }
