
.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height:15rem;
}

ion-row{
  margin: 1rem;
}

.expense{
  height: 6rem;
}

.card1{
  width: 20rem;
  height: 12rem;
  border-radius: 1.5rem;
  background: beige;
}


